body {
  font-family: Monaco;
}

h1 {
  font-family: Futura;
  margin: 0;
}

p {
  margin: 0;
}

.vh-60 {
  height: 60vh;
}

.bg-green {
  background-color: #29a844;
}

.user-name {
  color: aqua;
}

.atmark {
  color: white;
}

.pc-name {
  color: magenta;
}

.command-input {
  color: white;
}
